#cityName {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  text-transform: capitalize;
}

.weather {
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
  font-size: 42px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.weather::first-letter {
  text-transform: capitalize;
}

.forecast {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 10px;
}

.nextWeek {
  color: #00509d;
}

.updated {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 10px;
}

.place {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

.form {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.otherLocation {
  display: inline-block;
}

.button {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-width: 0.5px;
  border-radius: 3px;
}

.source {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  text-align: right;
  margin-bottom: 2px;
  color: #647aa3;
}

.units {
  display: inline-block;
  vertical-align: text-top;
  font-size: 14px;
  padding-top: 10px;
}

.nextWeek {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-top: 25px;
  text-align: center;
}

.forecast-date {
  font-weight: bold;
}

.forecast-temp-up {
  font-weight: bold;
}

html body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
